.circleChart {
	background-color: #FBFBFB;
	height: 263px;
	width: 258px;
	border-radius: 5px;
	position: relative;
	margin-top: 30px;

	.score {
		position: absolute;
		top: 25px;
		left: 30px;
		font-size: 1.5rem;
		font-weight: 500;
	}

	.path {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 156px;
		height: 156px;
		border-radius: 50%;
		color: white;
		background-color: white;
		z-index: 1;
	}

	.custom-legend {
		display: flex;
		flex-direction: column;
		align-items: center;
		line-height: 1.5;
		margin-top: 95px;
		z-index: 10;

		.desc {
			font-size: 2.6rem;
			font-weight: 700;
			text-align: center;
		}
		p {
			font-size: 1.6rem;
			font-weight: 500;
			text-align: center;
			color: #74798C;
			width: max-content;
		}
	}
}