.App {
  min-height: 724px;
  max-height: 724px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

main {
	width: calc(100% - 344px);
	margin-left: 144px;
}


